body { font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif; background-color: #eee; padding-top: 100px; word-wrap:break-word; }
a { bblr:expression(this.onFocus=this.blur()); outline-style:none; text-decoration: none; }
a:hover, a:focus, a:active, a:visited { text-decoration: none; }
a { -webkit-transition: all 0.2s; -moz-transition: all 0.2s; -ms-transition: all 0.2s; -o-transition: all 0.2s; transition: all 0.2s; }
.navbar-brand { color: #fff!important; }
.none { display: none; }
.login, .reg { margin:0 auto; float: none; }
.login h1, .reg h1 { margin-bottom: 20px; }
#link { margin-top: 20px; }
.lk-panel {
    background-color: #fff;
    padding: 15px;
    -webkit-box-shadow: 0 8px 7px 0 rgba(0,0,0,.2), 0 0px 10px 0 rgba(0,0,0,.19);
    box-shadow: 0 8px 7px 0 rgba(0,0,0,.2), 0 0px 10px 0 rgba(0,0,0,.19);
    border-radius: 2px;
}
.user {
    padding: 10px;background-color: #fff;
    -webkit-box-shadow: 0px 0px 1px 0 rgba(0,0,0,.2), 0 0px 8px 0 rgba(0,0,0,.19);
    box-shadow: 0px 0px 1px 0 rgba(0,0,0,.2), 0 0px 8px 0 rgba(0,0,0,.19);
}
.list {
    margin-top: 20px;
}
.img {
    position: relative;
    cursor: pointer;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.28);
}
.img img {
    width: 100%;
    height: 140px;
}
.img-per {
    margin-top: 8px;
}
.list-per {
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
}
.picture {
    margin-bottom: 10px;
}
.layui-flow-more { clear: both; padding-top: 30px; }
.list-per .layui-input, .list-per .layui-select, .list-per .layui-textarea { height: 30px; width: 150px; }
.pic-del {
    position: relative;
    top: 50px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 9;
}
.forgot .input-group {
    margin-bottom: 10px;
}
.m-b-10 {
    margin-bottom: 10px;
}
/* ------- BootStarp ------- */
.form-control { border-radius: 2px; }
/* ------- FileInput ------- */
.fileinput h1 {
    padding: 20px 0;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid lavender;
    text-shadow: -5px 5px 0 rgba(0,0,0,.1);
}
.file-input .btn {
    padding: 10px 18px;
}
.file-input .form-control {
    height: 42px;
    padding: 10px 12px;
}
.file-input .btn-file {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.file-input .file-caption {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/**
.file-input .file-preview {
    border-radius: 0px;
}
**/
footer {
    margin-top: 50px;
    width: 100%;
}
footer .container .text-muted { margin: 20px 0; }
.text-muted { color: #999999; }

@media screen and (max-width: 768px) {
    .layui-layer-iframe { width: 100%!important; height: 100%!important; }
    .batchDel { display: none; }
    .list-per .layui-input-inline, .list-per .layui-inline, .list-per .search_btn { display: grid; margin-top: 5px; }
    .list-per .layui-input, .list-per .layui-select, .list-per .layui-textarea { width: 100%; }
    .pic-del { display: none; }
}
.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
@-webkit-keyframes fadeIn{50%{opacity:.6}
    100%{opacity:1}
}
@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translateY(-20px)}
    100%{opacity:1;-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInDown{0%{opacity:0;-moz-transform:translateY(-20px)}
    100%{opacity:1;-moz-transform:translateY(0)}
}
@-o-keyframes fadeInDown{0%{opacity:0;-o-transform:translateY(-20px)}
    100%{opacity:1;-o-transform:translateY(0)}
}
@keyframes fadeInDown{0%{opacity:0;transform:translateY(-20px)}
    100%{opacity:1;transform:translateY(0)}
}

::selection{color:#fff;background:#207cc7}
::-moz-selection{color:#fff;background:#207cc7;}
:window-inactive {display: none;}
::-webkit-scrollbar{width:5px;height:5px;}
::-webkit-scrollbar-track{background:#ccc;}
::-webkit-scrollbar-track:hover{background:#ff0;}
::-webkit-scrollbar-track:window-inactive{background:#f6f6f6;}
::-webkit-scrollbar-thumb{background:#888;}
::-webkit-scrollbar-thumb:window-inactive{background:#f6f6f6;}
::-webkit-scrollbar-thumb:hover{background:#666;}
::-webkit-scrollbar-button {background:#333;}
::-webkit-scrollbar-button:window-inactive {background:#f6f6f6;}