<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>子窗口</title>
    {css href="_layui_css/layui.css"}
    {css href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css"}
    {css href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"}
    {css href="_css_style.css"}
    {js href="_layui_layui.js"}
    {js href="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"}
    {js href="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"}
    {js href="_js_main.js"}
</head>
<body>